<li>
  <%= link_to notifications.messages_path(ntype) do %>
    <span class="fa fa-<%= nicon %>"></span> <span id="notifications_<%= ntype %>_count" class="count-info label label-<%= nclass %>"></span>
  <% end %>
</li>

<% if user_signed_in? %>
  <script type="text/javascript">
    new notifications.CheckNotification('<%= notifications.messages_count_path(ntype) %>', '#notifications_<%= ntype %>_count', 10000)
  </script>
<% end %>